@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center justify-content-center align-content-center d-flex vw-auto vh-auto">
    <div class="vh-auto vw-50">

        <div class="display-4 pt-5 d-block">Mini HR System</div>
        <div class="d-block text-center">Create, Delete, Edit your staff data base from one point</div>
        <div class=" mt-5 mb-5 d-flex justify-content-around">
            <a asp-action="Index" asp-controller="Staff" class="p-3 btn btn-lg btn-outline-danger" style="width:170px">
                Get Started
            </a>
            <a asp-action="Index" asp-controller="Staff" class="p-3 btn btn-lg btn-primary" style="width:170px;">
                Check Staff
            </a>
        </div>
    </div>

</div>
